/*основной цвет текста #212121*/
/*вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* цвет фона #ffffff */
/* вторичный цвет фона #F5F4FA */
/* цвет героя и футера #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --second-title-text: #ffffff;
  --accent-color: #2196f3;
  --primary-fone-color: #ffffff;
  --second-fone-color: #f5f4fa;
  --header-text-color: #212121;
  --btn-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-fone-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid teal; */
  /* flex-wrap: wrap; */
}
/* -----------Header -------------*/
/* main nav */
.main-header {
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
}
.section-header {
  border-bottom: 1px solid #ececec;

  /* outline: 1px solid tomato; */
  /* display: inline-flex; */
  /* margin-top: 24px;
  margin-bottom: 25px; */
}
.logo {
  display: flex;
  /* align-items: center; */
  margin-right: 93px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent-color);
}

.header {
  /* outline: solid 1px tomato; */

  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav {
  display: flex;
}
.header-item {
  /* background-color: tomato; */
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-link {
  /* outline: 1px solid tomato; */
  /* position: relative; */

  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus,
.current {
  color: var(--accent-color);
}
.current {
  position: relative;
}
.header-link.current::after {
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.auth-nav {
  /* outline: 1px solid teal; */
  display: flex;
  margin-left: auto;
  align-items: center;
  /* outline: solid 1px tomato; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.auth-nav-item + .auth-nav-item {
  margin-left: 50px;
}

.auth-nav-link {
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms; */
}

/* /* .auth-nav-mail::before {
  outline: 1px solid red;
  display: inline-flex;
  /* align-items: center; */
/* content: '';
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg); */
/* background-position: center;} */

/* .auth-nav-tel::before {
  content: '';
  width: 10px;
  height: 16px;
  display: inline-flex;
  margin-right: 10px;
  background-image: url(../images/smartphone.svg);
  background-position: center;
} */
/* .icon-envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  fill: #757575;
  /* justify-self: end; 
} */

.icon-envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* -----------Hero -------------*/

.section-hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  /* outline: solid 1px tomato; */
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  margin-bottom: 30px;
  /* background-color: violet; */
  color: var(--second-title-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn-hero {
  display: inline-block;
  border: none;
  font-family: inherit;
  min-width: 200px;
  /* width: 200px; */
  height: 50px;
  border-radius: 4px;

  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--btn-color);
  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
  color: var(--btn-color);
}

/* ------------Main -------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid red; */
}

/* SECTION FEATURES */

.section-features {
  padding-bottom: 47px;
}
.features-list {
  display: flex;
}
.features-item {
  width: 270px;
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}
/* .features-item::before {
  display: block;
  content: '';
  height: 120px;
  /* width: 70px; */
/* margin-bottom: 30px;
  border-radius: 4px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
} */
/* .icon-antena::before {
  background-image: url(../images/antena.svg);
} */
/* .icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-comp::before {
  background-image: url(../images/comp.svg);
}
.icon-astro::before {
  background-image: url(..//images/astro.svg);
} */
/* .features-title { */
/* margin-top: 0; */
/* } */
.icon-area {
  display: flex;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.features-after-title {
  /* margin-top: 0; */
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  /* margin-top: 0; */
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* SECTION ABOUT */

.section-about {
  padding-top: 47px;
}

/* .about-list:not(:last-child) {
  margin-right: 30px; */

.about-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.about-list {
  display: flex;
}
.about-item {
  position: relative;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-text {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  /* outline: 1px solid tomato; */
  align-items: center;
  justify-content: center;
  /* font-family: Roboto; */
  /* font-style: normal; */
  width: 370px;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-text);
  background-color: rgba(47, 48, 58, 0.8);
}

/* team  */

.section-team {
  margin-top: 0;
  /* margin-bottom: 0; */
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  margin-left: -30px;
  /* flex-wrap: wrap; */
}
.team-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .team-item:not(:last-child) {
  margin-right: 30px;
} */
.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-title-members {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-text-list {
  display: flex;
  justify-content: center;
}
.team-text-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #fff;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-text-link:hover,
.team-text-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.team-text-item + .team-text-item {
  margin-left: 10px;
}
.team-text-icon {
  fill: currentColor;
}
/* АЛЬТЕРНАТИВНЫЙ ВАРИАНТ */
/* .team-text-icon {
  fill: #afb1b8;
}
.team-text-link:hover .team-text-icon {
  fill: #ffffff;
} */

.client-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.client-list {
  display: flex;
}
.client-link {
  display: flex;
  /* outline: 1px solid tomato; */
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: #e5e5e5;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}
.client-item + .client-item {
  margin-left: 30px;
}
.client-icon {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer-all {
  display: flex;
  align-items: baseline;
}
.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-adress {
  width: 231px;
}
.footer-logo {
  display: block;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* background-color: blueviolet; */
  margin-bottom: 20px;
}
.addres-fiz {
  display: block;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 9px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-title-text);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: violet; */
}
.addres-fiz:hover,
.addres-fiz:focus {
  color: var(--accent-color);
}
.footer-mail {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: violet; */
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
.footer-tel {
  font-style: normal;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: violet; */
}
.footer-join {
  width: 206px;
  margin-left: 70px;
}
.footer-join-text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-text);
}
.footer-join-list {
  display: flex;
  /* margin-left: 70px; */
}
.footer-join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join-link:hover,
.footer-join-link:focus {
  background-color: var(--accent-color);
}

.footer-join-item:not(:last-child) {
  margin-right: 10px;
}
.footer-join-icon {
  fill: var(--btn-color);
}

/* -------Footer subs------ */

.footer-subscribe {
  /* margin-top: 72px; */
  margin-left: 93px;
  /* margin-bottom: 94px; */
  margin-right: 0;
  width: 570px;
}
/* .footer-form {
  margin: 0;
  outline: 1px solid tan;
  
} */

.footer-subscribe-text {
  display: block;
  margin-bottom: 20px;
  /* outline: 1px solid gold; */
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-text);
}
.footer-mail-btn {
  display: flex;
}
.footer-input {
  /* outline: 1px solid red; */
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--second-title-text);
  background-color: #2f303a;
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  /* padding-right: 295px; */
  color: rgba(255, 255, 255, 0.6);
}
/* .footer-btn-subs {
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
  outline: 1px solid tomato;
  border: none;
  min-width: 200px;
  height: 50px;
  margin-top: 36px;
  margin-left: 12px;
} */
.footer-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);

  border-radius: 4px;
  color: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.plane {
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  fill: #ffffff;
  margin-left: 10px;
}

/* ----------Страница Portfolio -------------*/

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* .flex-container {
  display: flex;

  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
} */

.button {
  /* color: inherit; */

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.buton:focus {
  color: var(--btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.gallery-title {
  /* margin-top: 0; */
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
}
.gallery-text {
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio-list-item:not(:last-child) {
  margin-right: 8px;
}
.gallary-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.gallery-item {
  /* background-color: tomato; */
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}
.gallery-item-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item-link:hover,
.gallery-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item-link:hover .gallery-animation {
  opacity: 1;
  /* top: 0; */
  /* left: 0; */
  transform: translateY(0);
}

.gallery-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.gallery-thumb {
  display: flex;
  position: relative;
  width: 370px;
  overflow: hidden;
}
.gallery-animation {
  display: inline-block;
  position: absolute;
  width: 370px;
  opacity: 0;

  padding: 63px 24px;
  /* top: 100%; */
  /* left: 100%; */

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-title-text);
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
/* ------------BACKDROP-------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  display: flex;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 528px;
  height: 581px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
}
.btn-close {
  /* position: absolute; */
  color: #000000;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-main {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.circle-close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.circle-close-btn:hover,
.circle-close-btn:focus .btn-close {
  fill: var(--accent-color);
}

/* --------------------------------------Modal--------------- */
.form {
  display: flex;
  width: 100%;
  /* width: 528px; */
  /* outline: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  border: none;
  margin: 0;
}
.form-title {
  /* outline: 1px solid blue; */
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}
.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form-field {
  /* position: relative; */
  /* outline: 1px solid teal; */
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}
.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .icon-modal {
  fill: var(--accent-color);
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}
.input-icon-modal {
  position: relative;
}
.icon-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
textarea {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}
.form-field-coment {
  margin-bottom: 20px;
}
.form-field-check {
  padding-left: 14px;
}
.form-label-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.policy-deal {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration-line: underline;
}
.form-field-check {
  display: inline-flex;
  flex-direction: row;
  /* align-items: center; */
  margin-bottom: 30px;
}
.form-label-policy {
  display: flex;
  align-items: center;
}
.btn-modal-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-sub:focus,
.btn-modal-sub:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.checkbox {
  -webkit-appearance: none;
  position: absolute;
}
.icon {
  display: inline-block;
  background-position: 50% 50%;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  color: #fff;
  border: 1px solid var(--title-text-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-image 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
.policy-link {
  margin-left: 3px;
}
.checkbox:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
}
/* -----------Вариант 2 оверлея в портфолио----- */

/* .gallery-item-link {
  position: relative;
} */

/* .gallery-thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: 250ms;
}
.gallery-thumb:hover::before {
  opacity: 1;
}
.gallery-thumb:hover .gallery-animation {
  opacity: 1;
} */
/* .gallery-animation {
  display: flex;
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  letter-spacing: 0.03em;
  transition: 250ms;
  color: var(--second-title-text);
} */
